body {
    font-family: sans-serif;
    background-color:white;
    color: white;
    margin: 0;
}

header {
    background-color: #C257FD;
    margin: 0px;
    padding: 15px;
}

nav {
    text-align: center;
    padding: 20px;
    display:inline-block;
}

nav a {
    background-color: #A809FF;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    margin: 40px 70px 40px 70px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    padding: 15px;
}

h1 {
text-align: center;
color: black;
margin-top: 45px;
margin-bottom: 45px;
}

p {
background-color: #6D00A9;
color: white;
padding: 30px 20px 30px 20px;
text-align: center;
}

li{
color: black;
font-size: 20px;
margin-right: 30px;
margin-left: 30px;
}

main img{
        display: flex;
    margin: 0 auto;
    width: 100%;
}


footer {
    background-color: #9B00F0;
    margin: 150px 0px 0px 0px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    font-size: 20px;
    color: white;
}


footer a {
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 10px 60px 70px 60px;
    padding: 5px 5px 5px 5px;
}
